[submodule "resources/3rd/SpriteGL"]
	path = resources/3rd/SpriteGL
	url = https://github.com/RemoveIt/SpriteGL.git
[submodule "resources/3rd/PreloadJS"]
	path = resources/3rd/PreloadJS
	url = https://github.com/CreateJS/PreloadJS.git
